<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smk.pay.core.mapper.MerchantLimitsEntityMapper">
    <resultMap id="BaseResultMap" type="com.smk.pay.core.entity.MerchantLimitsEntity">
        <id column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
        <result column="CREDIT_LIMIT" property="creditLimit" jdbcType="DECIMAL"/>
        <result column="USE_LIMIT" property="useLimit" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        MERCHANT_ID, CREDIT_LIMIT, USE_LIMIT, STATUS, BUSINESS_TYPE
    </sql>

    <select id="selectByMerchantId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM MERCHANT_LIMITS
        WHERE merchant_id = #{merchantId}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.smk.pay.core.entity.MerchantLimitsEntity">
        update MERCHANT_LIMITS
        <set>
            <if test="creditLimit != null">
                CREDIT_LIMIT = #{creditLimit,jdbcType=DECIMAL},
            </if>
            <if test="useLimit != null">
                USE_LIMIT = #{useLimit,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null">
                BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
            </if>
        </set>
        where MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
    </update>

</mapper>